<div class="container">

  <!-- Static navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <p class="navbar-brand" href="#">Telemedico - test</p>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Hello, {{getDataService().getCurrentUser().firstname}}
            {{getDataService().getCurrentUser().lastname}}</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron">
    <router-outlet></router-outlet>
  </div>

</div>







