<a [routerLink]="['/']" routerLinkActive="active">
  <button type="button" class="btn btn-primary">
    <- Back
  </button>
</a>

<p>Update {{this.originalUsername}}:</p>

<div class="table-responsive">
  <form (ngSubmit)="submitData()">
    <table class="table table-bordered table-striped">
      <tbody>
      <tr>
        <th><code>username</code></th>
        <td>
          <input type="text" class="form-control" id="username"
                 required
                 [(ngModel)]="this.user.username"
                 name="name">
        </td>
      </tr>
      <tr>
        <th><code>password</code></th>
        <td>
          <input type="password" class="form-control" id="password"
                 required
                 [(ngModel)]="this.password"
                 name="password">
        </td>
      </tr>
      <tr>
        <th><code>firstname</code></th>
        <td>
          <input type="text" class="form-control" id="firstname"
                 [(ngModel)]="this.user.firstname"
                 name="firstname">
        </td>
      </tr>
      <tr>
        <th><code>lastname</code></th>
        <td>
          <input type="text" class="form-control" id="lastname"
                 [(ngModel)]="this.user.lastname"
                 name="lastname">
        </td>
      </tr>
      <tr>
        <th><code>phone</code></th>
        <td>
          <input type="text" class="form-control" id="phone"
                 [(ngModel)]="this.user.phone"
                 name="phone">
        </td>
      </tr>
      </tbody>
    </table>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
