<a [routerLink]="['/']" routerLinkActive="active">
  <button type="button" class="btn btn-primary">
    <- Back
  </button>
</a>
<p>User details:</p>

<div class="table-responsive">
  <table class="table table-bordered table-striped" *ngIf="this.user">
    <tbody>
    <tr>
      <th><code>id</code></th>
      <td>{{this.user.id}}</td>
    </tr>
    <tr>
      <th><code>username</code></th>
      <td>{{this.user.username}}</td>
    </tr>
    <tr>
      <th><code>roles</code></th>
      <td>{{this.user.roles}}</td>
    </tr>
    <tr>
      <th><code>firstname</code></th>
      <td>{{this.user.firstname}}</td>
    </tr>
    <tr>
      <th><code>lastname</code></th>
      <td>{{this.user.lastname}}</td>
    </tr>
    <tr>
      <th><code>phone</code></th>
      <td>{{this.user.phone}}</td>
    </tr>
    </tbody>
  </table>
</div>
