<div class="table-responsive">
  <a [routerLink]="['/users/new']" routerLinkActive="active" *ngIf="this.getDataService().getCurrentUser().isAdmin()">
    <button type="button" class="btn btn-success">
      + New user
    </button>
  </a>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th>Roles</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Phone</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of getUsers()">
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.roles}}</td>
      <td>{{user.firstname}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.phone}}</td>
      <td>
        <a [routerLink]="['/users', user.id]" routerLinkActive="active">
          <button type="button" class="btn btn-primary" [disabled]="!this.getDataService().getCurrentUser().isAdmin()">
            View
          </button>
        </a>
        <a [routerLink]="['/users/update', user.id]" routerLinkActive="active">
          <button type="button" class="btn btn-info" [disabled]="!this.getDataService().getCurrentUser().isAdmin()">Update</button>
        </a>
        <button (click)="this.removeUser(user.id)" type="button" class="btn btn-danger"
                [disabled]="!this.getDataService().getCurrentUser().isAdmin()">
          Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
