{% extends 'base.html.twig' %}

{% block head %}
    <base href="/">  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block body %}
    <app-root apiKey="{{apiKey}}" currentUser='{{currentUser | raw}}'>
    </app-root>
{% endblock %}

{% block javascripts %}
    <script src="/ng-app/runtime-es2015.js" type="module"></script>
    <script src="/ng-app/runtime-es5.js" nomodule defer></script>
    <script src="/ng-app/polyfills-es5.js" nomodule defer></script>
    <script src="/ng-app/polyfills-es2015.js" type="module"></script>
    <script src="/ng-app/vendor-es2015.js" type="module"></script>
    <script src="/ng-app/vendor-es5.js" nomodule defer></script>
    <script src="/ng-app/main-es2015.js" type="module"></script>
    <script src="/ng-app/main-es5.js" nomodule defer></script>
{% endblock %}
